<section class="home-page-cn">    
    <div class="home-p-c-box">
        <div class="home-p-c-b-content">
            <div class="m-t-225">
                <div class="container">
                    <h1 class="home-p-c-b-title mb-4">I am Morgan Freeman</h1>
                    <p class="home-p-c-b-subtitle">
                        <span class="home-p-c-b-items">CEO DevFolio,Web Developer,Web Designer,Frontend Developer,Graphic Designer</span>
                        <strong class="home-p-c-b-slider"></strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
